<!DOCTYPE html>
<html  lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="baidu_union_verify" content="bac70eff3a1f61b08dd19e20cb34c635">
        <link href="{{M}}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{M}}/css/star-rating.css" rel="stylesheet">
<style>
legend {
    margin-top: 10px;
}
.sorter {
    margin-top: 10px;
    font-size: 50%;
}
.brief {
    display: block;
    height: 5.9em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.brief-intro {
    height: 5.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0 25px;
}
.bookitem {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
</style>
    </head>

    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="/">Calibre</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active" ><a href="/">我的书库</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">username<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/account/edit/">编辑账户信息</a></li>
                            <li class="divider"></li>
                            <li><a href="/account/logout/">退出账户</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}{% endblock %}
                </div>




                <!-- sidebar -->
                <div class="col-md-4">
                    <div class="row">
                    {% block sidebar %}{% endblock %}
                    </div>
                </div>

            </div>
            <div class="row">
                <p>&nbsp;</p>
                <p class="pull-left text-muted">[/data/books/library]</p>
                <p class="pull-right text-info">Calibre is Created by Kovid Goyal</p>
            </div>
        </div>

        <script src="{{M}}/js/jquery-1.11.1.min.js"></script>
        <script src="{{M}}/js/bootstrap.min.js"></script>
        <script src="{{M}}/js/spin.min.js"></script>
        <script src="{{M}}/js/holder.js"></script>
        <script src="{{M}}/js/star-rating.min.js"></script>
        <script>
            $(".rating").rating({showClear: false, showCaption: false});
        </script>
    </body>
</html>
