{% extends "content_server/v2/base.html" %}
{% block content %}
<span class="legend" >{{ gettext("Random Books") }}</span>
<div class="row">
    {% for book in random_books %}
    <div class="col-xs-6 col-sm-3">
            <a href="/book/{{book.id}}"><img class="random-book-img" src="/get/thumb_155_220/{{book.id}}.jpg" alt="cover"/></a>
            <div class="caption">
                <span><input type="number" class="rating" value="{%if book.rating%}{{book.rating}}{%endif%}" data-min=0 data-max=10 data-size="xs" ></span>
                <h5><a class="book-title" href="/book/{{book.id}}">{{book.title}}</a></h5>
            </div>
    </div>
    {% endfor %}
</div>

<span class="legend">{{ gettext("New Books") }}</span>
<div class="row">
    {% for book in new_books %}
    <div class="col-sm-6">
        <div class="media new-book">
            <a class="pull-left" href="/book/{{book.id}}"><img class="new-book-img media-object" src="/get/thumb_68_90/{{book.id}}.jpg" alt="cover"/></a>
            <div class="media-body">
                <h4 class="media-heading"><a class="book-title" href="/book/{{book.id}}">{{book.title}}</a></h4>
                <p>
                {{book.authors|join(",")}}<br/>
                {{book.publisher}} / {{book.pubdate|day}}<br/>
                </p>
            </div>
            <div>
                <p class="book-comments">{% if book.comments %}{{book.comments|striptags}}{%endif%}</p>
            </div>
        </div>
    </div>
    {% if loop.index is divisibleby(2) %}
    <div class="clearfix"></div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block sidebar %}
{% include "content_server/v2/sidebar/basic.html" %}
{% endblock %}
