/*
**	Book Jacket generation
**
**	The template for Book Jackets is template.xhtml
**	This CSS is inserted into the generated HTML at conversion time
**
**	Users can control parts of the presentation of a generated book jacket by
** 	editing this file and template.xhtml
**
**	The general form of a generated Book Jacket:
**
**	                  Title
**	Series: series [series_index]
**	Published: year_of_publication
**	Rating: #_of_stars
**	Tags: tag1, tag2, tag3 ...
**
**	Comments
**
**	If a book does not have Series information, a date of publication, a rating or tags
**	the corresponding row is automatically removed from the generated book jacket.
*/

/*
**	Banner
**	Only affects EPUB, kindle ignores this type of formatting
*/
.cbj_banner {
	background: #eee;
    color: black;
	border: thin solid black;
	margin: 1em;
	padding: 1em;
	-webkit-border-radius:8px;
	}

/*
**	Title
*/
table.cbj_header td.cbj_title {
	font-size: x-large;
	font-style: italic;
	text-align: center;
}

/*
**	Series
*/
table.cbj_header td.cbj_series {
	font-size: medium;
	text-align: center;
}

/*
**	Author
*/
table.cbj_header td.cbj_author {
	font-size: medium;
	text-align: center;
}

/*
**	Publisher/published
*/
table.cbj_header td.cbj_pubdata {
	text-align: center;
}

/*
**	Table containing Rating and Tags
*/
table.cbj_header {
	width: 100%;
	}

/*
**	General formatting for banner labels
*/
table.cbj_header td.cbj_label {
	font-family: sans-serif;
	text-align: right;
	width: 33%;
	}

/*
**	General formatting for banner content
*/
table.cbj_header td.cbj_content {
	font-family: sans-serif;
	text-align: left;
	width:67%;
	}

/*
** Metadata divider
*/
hr.metadata_divider {
	width:90%;
	margin-left:5%;
	border-top: solid white 0px;
	border-right: solid white 0px;
    border-bottom: solid black 1px;
    border-left: solid white 0px;
	}



/*
**	To skip a banner item (Series|Published|Rating|Tags),
**	edit the appropriate CSS rule below.
*/
table.cbj_header tr.cbj_series {
	/* Uncomment the next line to remove 'Series' from banner section */
	/* display:none; */
	}

table.cbj_header tr.cbj_pubdata {
	/* Uncomment the next line to remove 'Published (year of publication)' from banner section */
	/* display:none; */
	}

table.cbj_header tr.cbj_rating {
	/* Uncomment the next line to remove 'Rating' from banner section */
	/* display:none; */
	}

table.cbj_header tr.cbj_tags {
	/* Uncomment the next line to remove 'Tags' from banner section */
	/* display:none; */
	}

hr {
	/* This rule controls formatting for any hr elements contained in the jacket */
	border-top: 0px solid white;
	border-right: 0px solid white;
	border-bottom: 2px solid black;
	border-left: 0px solid white;
	margin-left: 10%;
	width: 80%;
	}

.cbj_footer {
	font-family: sans-serif;
	font-size: small;
	margin-top: 8px;
	text-align: center;
	}
.cbj_smallcaps {
	font-size: 90%;
	}

.cbj_comments {
	font-family: sans-serif;
	}
