*_ui.py
*.pyc
*.pyo
*.pyj-cached
.bzr
.bzrignore
.build-cache
.cache
src/calibre/plugins
resources/images.qrc
manual/generated
manual/locale
build
dist
docs
resources/localization
resources/scripts.pickle
resources/ebook-convert-complete.pickle
resources/builtin_recipes.xml
resources/builtin_recipes.zip
resources/template-functions.json
resources/editor-functions.json
resources/user-manual-translation-stats.json
resources/content-server/index-generated.html
resources/content-server/locales.zip
resources/content-server/mathjax.zip.xz
resources/content-server/mathjax.version
resources/mozilla-ca-certs.pem
resources/user-agent-data.json
icons/icns/*.iconset
setup/installer/windows/calibre/build.log
tags
nbproject/
translations/
*.mdproj
*.pidb
*.sln
*.userprefs
.project
.pydevproject
.settings/
*.DS_Store
calibre_plugins/
recipes/*.mobi
recipes/*.epub
recipes/debug
/.metadata/
