body {
    font-family: sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

.documentHeading {
    text-align: center;
    font-family: monospace;
}

.sectionHeading {
    font-family: monospace;
}

.subsectionHeading {
font-family: monospace;
}

.action {
    font-family: monospace;
    font-weight: bold;
}

.footer {
    font-size: x-small;
    color: lightgray;
    text-align: right;
}