<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Unbenanntes Dokument</title>
</head>
<body>
$ebookContent

#if $prevLink
<a href="$prevLink">previous page</a>
#end if

#if $nextLink
<a href="$nextLink">next page</a>
#end if


</body>
</html>

