body { background-color: white; }

a.series_id {
	font-style:normal;
	font-size:large;
	}

/*
* 	Minimize widows and orphans by logically grouping chunks
*   Some reports of problems with Sony (ADE) ereaders
*	   ADE: page-break-inside:avoid;
*	iBooks: display:inline-block;
*		    width:100%;
*/
div.author_logical_group {
	page-break-inside:avoid;
	}

div.description > p:first-child {
	margin: 0 0 0 0;
	text-indent: 0em;
	}

div.description {
	margin: 0 0 0 0;
	text-indent: 1em;
	}

div.initial_letter {
	page-break-before:always;
	}

hr.annotations_divider {
	width:50%;
	margin-left:1em;
	margin-top:0em;
	margin-bottom:0em;
	}

hr.description_divider {
	width:90%;
	margin-left:5%;
	border-top: solid white 0px;
	border-right: solid white 0px;
    border-bottom: solid black 1px;
    border-left: solid white 0px;
	}

hr.header_divider {
	width:100%;
	border-top: solid white 1px;
	border-right: solid white 0px;
    border-bottom: solid black 2px;
    border-left: solid white 0px;
	}

hr.merged_comments_divider {
	width:80%;
	margin-left:10%;
	border-top: solid white 0px;
	border-right: solid white 0px;
    border-bottom: dashed gray 2px;
    border-left: solid white 0px;
	}

p.date_read {
	text-align:left;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:6em;
	text-indent:-6em;
	}

p.author {
	font-size:large;
	margin-top:0em;
	margin-bottom:0.1em;
	text-align: center;
	text-indent: 0em;
  	}

p.author_index {
	font-size:large;
	font-weight:bold;
	text-align:left;
	margin-top:0.25px;
	margin-bottom:-2px;
	text-indent: 0em;
	}

p.author_title_letter_index {
	font-size:x-large;
	text-align:center;
	font-weight:bold;
	margin-top:0px;
	margin-bottom:0px;
	}

p.date_index {
	font-size:x-large;
	text-align:center;
	font-weight:bold;
	margin-top:1em;
	margin-bottom:0px;
	}

p.formats {
	font-size:90%;
	margin-top:0em;
	margin-bottom:0.5em;
	text-align: left;
	text-indent: 0.0in;
	}

p.genres {
	font-style:normal;
	margin-top:0.5em;
	margin-bottom:0em;
	text-align: left;
	text-indent: 0.0in;
	}

p.series {
	font-style:italic;
	margin-top:0.10em;
	margin-bottom:0em;
	margin-left:2em;
	text-align:left;
	text-indent:-2em;
	}

p.series_id {
	margin-top:0em;
	margin-bottom:0em;
	text-align:center;
	}

p.series_letter_index {
	font-size:x-large;
	text-align:center;
	font-weight:bold;
	margin-top:1em;
	margin-bottom:0px;
	}

p.title  {
	margin-top:0em;
	margin-bottom:0em;
	text-align:center;
	font-style:italic;
	font-size:xx-large;
	}

p.wishlist_item, p.unread_book, p.read_book, p.line_item {
    font-family:monospace;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:2em;
	text-align:left;
	text-indent:-2em;
	}

span.prefix {}
span.entry {
    font-family: serif;
    }

/*
*   Book Descriptions
*/
td.publisher, td.date {
	font-weight:bold;
	text-align:center;
	}

td.rating{
	text-align:center;
	}

td.notes {
	font-size: 100%;
	text-align:center;
	}

td.thumbnail img {
	-webkit-box-shadow: 4px 4px 12px #999;
	}