#include <windows.h>

#define VER_FILEVERSION             {file_version}
#define VER_FILEVERSION_STR         "{file_version_str}"

#define VER_PRODUCTVERSION          {product_version}
#define VER_PRODUCTVERSION_STR      "{product_version_str}"

#define VER_DEBUG                   0

1 VERSIONINFO
FILEVERSION    	VER_FILEVERSION
PRODUCTVERSION 	VER_PRODUCTVERSION
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	VER_DEBUG
FILEOS         	VOS_NT_WINDOWS32
FILETYPE       	VFT_{file_type}
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "calibre-ebook.com"
            VALUE "FileDescription",  "{file_description}"
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     "{internal_name}"
            VALUE "LegalCopyright",   "{legal_copyright}"
            VALUE "LegalTrademarks",  "{legal_trademarks}"
            VALUE "OriginalFilename", "{original_filename}"
            VALUE "ProductName",      "{product_name}"
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

1 ICON "{icon}"
