<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />

<title></title>
${for item in meta:}$
  <meta ${print 'name="DC.'+item['name']+'"',}$ ${print 'content="'+item['value']+'"',}$ />
${:endfor}$

</head>
<body>

<div class="meta">
  <div class="metaTitle">
  ${pos1=1}$
  ${for title in meta.titles():}$
    ${if pos1:}$
    <h1>${print title}$</h1>
    ${:else:}$
    <div class="metaSubtitle">${print title}$</div>
    ${:endif}$
    ${pos1=0}$
  ${:endfor}$
  </div>
  <div class="metaAuthor">
    ${print ', '.join(meta.creators())}$
  </div>
</div>

<h2>Table of contents</h2>

<div class="ebookContent">

  ${toc}$

</div>

</body>
</html>
