<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
${head_content}$

<link href="${cssLink}$" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  ${pos1=1}$
  ${for title in meta.titles():}$
    ${if pos1:}$
    <h1>
      <a href="${tocUrl}$">${print title}$</a>
    </h1>
    ${:else:}$
    <div class="calibreMetaSubtitle">${print title}$</div>
    ${:endif}$
    ${pos1=0}$
  ${:endfor}$
  </div>
  <div class="calibreMetaAuthor">
    ${print ', '.join(meta.creators())}$
  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    ${if prevLink or nextLink:}$
      <div class="calibreEbNavTop">
        ${if prevLink:}$
          <a href="${prevLink}$" class="calibreAPrev">${print _('previous page'),}$</a>
        ${:else:}$
          <a href="${tocUrl}$" class="calibreAPrev">${print _('previous page'),}$</a>
        ${:endif}$

        ${if nextLink:}$
          <a href="${nextLink}$" class="calibreANext">${print _('next page'),}$</a>
        ${:endif}$
      </div>
    ${:endif}$

    ${ebookContent}$
  </div>

  ${if has_toc:}$
  <div class="calibreToc">
    <h2><a href="${tocUrl}$">${print _('Table of contents'),}$</a></h2>
    ${print toc()}$
  </div>
  ${:endif}$

  <div class="calibreEbNav">
    ${if prevLink:}$
      <a href="${prevLink}$" class="calibreAPrev">${print _('previous page'),}$</a>
    ${:else:}$
      <a href="${tocUrl}$" class="calibreAPrev">${print _('previous page'),}$</a>
    ${:endif}$

    <a href="${tocUrl}$" class="calibreAHome">${print _('start'),}$</a>

    ${if nextLink:}$
      <a href="${nextLink}$" class="calibreANext">${print _('next page'),}$</a>
    ${:endif}$
  </div>

</div>

</body>
</html>
