{% extends "content_server/v2/base.html" %}
{% block msgbar %}
<div id="id_edit_tip" class="hidden col-md-12">
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        <strong>{{ gettext("You are now in Edit Mode!") }}</strong>
        <p>{{ gettext("Click the title fields (or other), edit and it will auto save.") }}</p>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="center-block">
            <h1 class="book-edit" data-meta="title">{{book.title}}</h1>
        </div>

        <div class="media">
            <img class="col-md-6 media-object" src="/get/thumb_300_420/{{book.id}}.jpg" alt="...">
            <div class="media-body">
                <p class="lead">
                <br/>
                {{ gettext("Author: ") }}   <a href="/author/{{book.author_sort|urlencode}}">{{book.author_sort}}</a><br/>
                {{ gettext("Publisher: ") }}<a href="/pub/{{book.publisher|urlencode}}">{{book.publisher}}</a><br/>
                {{ gettext("Date: ") }}     <span class="book-edit" data-meta="pubdate">{{book.pubdate|day}}</span><br/>
                {{ gettext("Language: ") }} <span class="book-edit" data-meta="language">{{book.languages}}</span><br/>
                {{ gettext("Series: ") }}   <span class="book-edit" data-meta="series">{{book.series}}</span><br/>
                {{ gettext("ISBN: ") }}     <span class="book-edit" data-meta="isbn">{{book.isbn}}</span><br/>
                {{ gettext("Tags: ") }}     <span class="book-edit" data-meta="tags">{{book.tags|join("/")}}</span><br/>
                </p>
            </div>
        </div>
        <p>&nbsp;</p>

        <legend>{{ gettext("Brief") }}</legend>
        <p class="book-edit" data-meta="comments">{{book.comments}}</p>
        <p>&nbsp;</p>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="col-md-12">
    <legend>{{ gettext("Push") }}</legend>
    <div class="list-group">
        <a href="/book/{{book.id}}/share/kindle" class="list-group-item"><span class="glyphicon glyphicon-phone"></span> {{ gettext("Kindle") }}</a>
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-cloud"></span> {{ gettext("Email...") }}</a>
    </div>

    <legend>{{ gettext("Read") }}</legend>
    <div class="list-group">
        <a class="list-group-item" href="/book/{{book.id}}/read"><span class="glyphicon glyphicon-book"></span> {{ gettext("Read online") }}</a>
        {% for format, size in sizes %}
        <a href="/book/{{book.id}}.{{format}}" class="list-group-item"><span class="glyphicon glyphicon-save"></span> <span class="badge">{{size//1024}} KB</span> {{format}}</a>
        {% endfor %}
    </div>

    {% if db.prefs.allow_admin %}

    <legend>{{ gettext("Edit") }}</legend>
    <div class="list-group">
        <a href="#" onclick="return bind_book_editable({{book.id}})" class="list-group-item"><span class="glyphicon glyphicon-cog"></span> {{ gettext("Manual edit") }}</a>
        <a href="/book/{{book.id}}/update" class="list-group-item"><span class="glyphicon glyphicon-refresh"></span> <span class="badge">{{ gettext("Douban") }}</span> {{ gettext("Auto update") }}</a>
    </div>

    {% if db.prefs.allow_delete %}
    <legend>{{ gettext("Admin") }}</legend>
    <div class="list-group">
        <a href="/book/{{book.id}}/delete" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-remove"></span> {{ gettext("Delete") }}</a>
    </div>
    {% endif %}

    {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
    //jQuery(document).ready(bind_book_editable);
</script>
{% endblock %}

