{% extends "content_server/v2/base.html" %}
{% block content %}
{% if msg %}
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
{{msg}}
</div>
{% endif %}

<form action="/setting/save" method="POST" role="form">
    <div class="col-sm-12">
        <span class="legend">{{ gettext("Push") }}</span>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
        <div class="form-group">
            <label for="exampleInputEmail1">{{ gettext("Kindle email address") }}</label>
            <input name="share_kindle" type="email" class="form-control" id="exampleInputEmail1" placeholder="{{ gettext('Enter email') }}" value="{{db.prefs.share_kindle}}">
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="col-sm-12">
        <span class="legend">{{ gettext("Management") }}</span>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
        <div class="checkbox">
            <label>
                <input {%if db.prefs.allow_admin %} checked=checked {% endif %} name="allow_admin" type="checkbox">
                {{ gettext("Allow online ebook management") }}
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input {%if db.prefs.allow_delete %} checked=checked {% endif %} name="allow_delete" type="checkbox">
                {{ gettext("Allow delete ebook") }}
            </label>
        </div>
    </div>
    <div class="col-sm-4 col-sm-offset-4">
        <p>&nbsp;</p>
        <button type="submit" class="btn-block btn btn-default">{{ gettext("Save Setting") }}</button>
    </div>
</form>

{% endblock %}

{% block sidebar %}
{% include "content_server/v2/sidebar/basic.html" %}
{% endblock %}
