<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<!--
  Base template that defines navigation/sidebars etc. 
 -->
<head>
    <title>{% block title %}calibre - E-book management{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ media_url }}/styles/base.css" />
    {% block extra_header %} {% endblock %}
</head>

<body>
    <div id="_header">
        <h1>
            <img id="_logo" alt="calibre" src="{{ media_url }}/img/logo.png" />
            {% block header_text %}e-book management{% endblock %}
        </h1>
    </div>
    <div id="_content">
        {% block content %}Hello world{% endblock %}
    </div>

    <div id="_footer">
        {% block footer_text %}
        Created by Kovid Goyal. 
        Powered by <a href="http://www.djangoproject.com">
            <img alt="Django" src="{{ media_url }}/img/button-django.png"/>
        </a>&nbsp;&nbsp;
        {% endblock %}
    </div>
</body>
</html>
