body {
    font-family: sansserif;
    background-color: #f1fff1;
}

img {
    border:0 none;
}

#_header {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    height: 100px;
    background-color: #A2B964;
    overflow: hidden;
}

#_header > h1 { 
    margin: 0px; padding: 0px;
    font-size: 60px;
    font-family: sansserif;
    font-weight: normal;
}

#_logo { 
    vertical-align: middle;
}

#_footer {
    font-size: small;
    text-align: right;
    width: 100%;
    border-top: 1px solid black;
    font-style: italic;
    padding-top: 10px; 
    padding-bottom: 5px;
}

#_footer img { vertical-align: middle; }
