{% extends "content_server/v2/base.html" %}
{% block content %}
{% if msg %}
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
{{msg}}
</div>
{% endif %}

<legend>{{title}}</legend>
<div class="col-sm-8 col-sm-offset-2">
<form action="/user/save" method="POST" role="form">
    <div class="form-group">
        <label for="exampleInputEmail1">Kindle Email address</label>
        <input name="share_kindle" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="{{db.prefs.share_kindle}}">
    </div>
    <div class="checkbox">
        <label>
            <input {%if db.prefs.show_delete %} checked=checked {% endif %} name="show_delete" type="checkbox"> Show book delete botton
        </label>
    </div>
    <button type="submit" class="btn btn-default">Save</button>
</form>
</div>

{% endblock %}

{% block sidebar %}
{% include "content_server/v2/sidebar/basic.html" %}
{% endblock %}
