<div class="col-md-12 hidden-sm hidden">
    <legend>快捷</legend>
    <div class="well well-lg">
        <a class="btn btn-lg btn-block btn-primary" href="/book/add"><span class="glyphicon glyphicon-cloud-upload"></span> 添加书籍</a>
    </div>
</div>

<div class="col-md-12">
    <legend>分类浏览</legend>
    <div class="list-group">
        <a href="/book"     class="list-group-item {% if category == "books"      %}active{% endif %}"><span class="badge">{{db.count()}}</span> 所有书籍</a>
        <a href="/pub"      class="list-group-item {% if category == "publishers" %}active{% endif %}"><span class="badge">{{db.all_publishers()|length}}</span> 出版社</a>
        <a href="/author"   class="list-group-item {% if category == "authors"    %}active{% endif %}"><span class="badge">{{db.all_authors()|length}}</span> 作者</a>
        <a href="/tag"      class="list-group-item {% if category == "tags"       %}active{% endif %}"><span class="badge">{{db.all_tags()|length}}</span> 标签</a>
        <a href="/rating"   class="list-group-item {% if category == "ratings"    %}active{% endif %}">评分</a>
    </div>

    <legend>帮助</legend>
    <div class="list-group">
        <a href="#" class="list-group-item">Wiki帮助</a>
        <a href="#" class="list-group-item"><span class="pull-right">1.4.13</span> 系统版本</a>
        <a href="#" class="list-group-item"><span class="pull-right">{{db.last_modified()|day}}</span> 最后更新</a>
    </div>
</div>
